.title {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--primary-color);
	color: var(--font-color);
	width: 100%;
	text-align: center;
}

.main-buttons {
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--secondary-color);
	cursor: pointer;
	color: var(--font-color);
	width: 100%;
	text-align: center;


}

.main-button {
	color: var(--font-color);
	font-size: var(--font-size__small);

}

.home-button {
	margin-right: 1rem;
}

.first-button {
	margin-right: 1rem;
}

.third-button {
	margin-left: 1rem;
}

.content {
	display: none;
}

.content--visible {
	display: flex;
}