.form__container {
	display: flex;
	width: 50rem;
	height: 30rem;
	justify-content: center;
	align-items: center;
	margin-top: var(--margin-top);
	flex-direction: column;
}

.form-header {
	align-self: flex-start;
	margin-bottom: var(--margin-bottom);
	font-size: var(--font-size__large);
}

.form__container--firstcolumn {
	flex-basis: 20%;

	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.form__container--secondcolumn {
	flex-basis: 20%;

	width: 100%;
}

.form__container--thirdcolumn {
	flex-basis: 50%;

	width: 100%;
}

.submit {
	flex-basis: 10%;
	align-self: flex-start;


}

.submit__button {
	font-size: var(--font-size__small);
	border: 0.2rem solid;
	border-radius: var(--border-radius);
	background-color: black;
	width: 10rem;
	height: 3rem;
	color: var(--font-color);

}

.inputcontainer {
	width: 100%;
	height: 50%;
	border-radius: var(--border-radius);
	padding: 1rem;
	font-size: var(--font-size__small);
}

.nameandemail {
	width: 24rem;
}

.popup-message {

	display: none;
}

.popup-message--visible {
	display: flex;
	font-size: var(--font-size__medium);
}

.alert-email {
	display: none;
}

.alert-email--visible {
	display: flex;
}

.alert-phone {
	display: none;
}

.alert-phone--visible {
	display: flex;
}

.alert-comment {
	display: none;
}

.alert-comment--visible {
	display: flex;
}

@media (max-width: 1024px) and (min-width: 701px) {
	.form__container {
		width: 40rem;
		height: 30rem;
	}
}

@media (max-width: 700px) {
	.form__container {
		width: 25rem;
		height: 30rem;
	}

	.form__container--firstcolumn {
		display: flex;
		flex-direction: column;
	}

	.inputcontainer {
		width: 100%;
		height: 10%;
	}

	.comment {
		height: 10rem;
	}
}