.info-box {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	width: 60rem;
	height: 40rem;
	gap: 1rem;

}


.info-box__picturecontainer {
	flex-basis: 50%;

}

.info-box__picture {
	width: 30rem;
	height: 40rem;
	border-radius: var(--border-radius);
	opacity: 0.9;
}

.info-box__info {
	flex-basis: 50%;
	background-color: var(--tertiary-color);
	border-radius: var(--border-radius);

}

.info-box__header {
	font-size: var(--font-size__extralarge);
	text-align: center;
}


.container-info {
	display: flex;
	flex-direction: column;
}

.paragraph {
	font-size: 1.05rem;
	margin-left: 1rem;
}

.p1 {
	flex-basis: 40%;
}

.p2 {
	flex-basis: 40%;
}

.p3 {
	flex-basis: 20%;
}