.info-box {
	display: flex;
	width: 60rem;
	height: 40rem;
	gap: 1rem;
	margin-top: var(--margin-top);

}


.info-box__picturecontainer {
	flex-basis: 50%;

}

.info-box__picture {
	width: 30rem;
	height: 40rem;
	border-radius: var(--border-radius);
	opacity: 0.9;
}

.info-box__info {
	flex-basis: 50%;
	background-color: var(--tertiary-color);
	border-radius: var(--border-radius);

}

.info-box__header {
	font-size: var(--font-size__extralarge);
	text-align: center;
}


.container-info {
	display: flex;
	flex-direction: column;
}

.paragraph {
	font-size: 1.05rem;
	margin-left: 1rem;
}

.p1 {
	flex-basis: 40%;
	font-weight: 800;
}

.p2 {
	flex-basis: 40%;
	font-size: var(--font-size__small);
}

.p3 {
	flex-basis: 20%;
}

@media (max-width: 1024px) and (min-width: 601px) {
	.info-box {
		width: 50rem;
		height: 50rem;
		display: flex;
		flex-direction: column;

	}

	.info-box__picturecontainer {
		flex-basis: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info-box__picture {
		width: 15rem;
		height: 20rem;

	}
}

@media (max-width: 600px) {
	.info-box {
		width: 20rem;
		height: 50rem;
		display: flex;
		flex-direction: column;

	}

	.info-box__picturecontainer {
		flex-basis: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info-box__picture {
		width: 15rem;
		height: 20rem;

	}

	.info-box__info {
		width: 20rem;
	}
}