.info-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	width: 60rem;
	height: 40rem;
	border: 0.2rem solid black;
}

.info-box__picture {
	flex-basis: 50%;
	background-color: blue;
}

.info-box__info {
	flex-basis: 50%;
	background-color: red;
}

.container-info {
	display: flex;
}

.p1 {
	flex-basis: 40%;
}

.p2 {
	flex-basis: 20%;
}

.p3 {
	flex-basis: 40%;
}