.main-container {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 40rem;
	height: 30rem;
	display: flex;
	flex-direction: column;

}

.mini-title {
	flex-basis: 10%;
	font-size: var(--font-size__medium);
	text-align: center;
}

.text-container {
	flex-basis: 80%;
	font-size: var(--font-size__small);
	text-align: center;
}

.image-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translatex(-50%);
	width: 50rem;
	height: 30rem;

}

.image-image {
	width: 50rem;
	height: 30rem;
	border-radius: var(--border-radius);

}