.main-container {
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	width: 50rem;
}

.mini-title {
	flex-basis: 10%;
	font-size: var(--font-size__medium);
	text-align: center;
}

.text-container {
	flex-basis: 80%;
	font-size: var(--font-size__small);
	text-align: center;
}

.image-container {
	margin-top: -20rem;
	width: 50rem;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.image-image {
	width: 50rem;
	height: 30rem;
	border-radius: var(--border-radius);

}

@media (max-width: 1024px) and (min-width: 601px) {
	.main-container {
		width: 40rem;
		height: 30rem;
		margin-top: 3rem;
	}

	.image-container {
		width: 40rem;
		height: 20rem;

	}

	.image-image {
		width: 40rem;
		height: 20rem;
	}
}

@media (max-width: 600px) {
	.main-container {
		width: 25rem;
		height: 30rem;
		margin-top: 3rem;
	}

	.image-container {
		width: 25rem;
		height: 10rem;
	}

	.image-image {
		width: 25rem;
		height: 10rem;
	}
}